
    <!-- Etykieta strony -->

    <h4>
        Ustawienia konta
    </h4>

    <!-- Zawartość strony -->

    <div class="row">
        <div class="col-md-12">
            <p class="padding-top-10">
                <!-- Podstawowe dane użytkownika -->
                <strong>Imię: </strong>
                <br />
                <strong>Nazwisko: </strong>
                <br />
                <strong>Adres e-mail: </strong>
                <br />
                <strong>Nazwa użytkownika: </strong>
            </p>
        </div>
        <div class="col-md-12 text-right">
            <!-- Menu ankiety -->
            <button id="userBasicDataEditButton" class="btn btn-info">Zmień dane</button>
            <button id="userPasswordEditButton" class="btn btn-danger">Zmień hasło</button>
        </div>
        <hr>
    </div>

    <div class="row" id="userBasicDataEditRow">
        <!-- Formularz edycji danych użytkownika -->
        <form class="form-horizontal hidden-form" id="basicDataChangeForm" role="form" method="POST" action="">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2>Zmień dane podstawowe</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <!-- Wyświetlenie formularza -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success" form="basicDataChangeForm">Zapisz</button>
                </div>
            </div>
        </form>
    </div>

    <div class="row" id="userPasswordEditRow">
        <!-- Formularz edycji danych użytkownika -->
        <form class="form-horizontal hidden-form" id="passwordChangeForm" role="form" method="POST" action="">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2>Zmień hasło</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <!-- Wyświetlenie formularza -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success" form="passwordChangeForm">Zapisz</button>
                </div>
            </div>
        </form>
    </div>