    <!-- Etykieta strony -->

    <h4>
        Udziel odpowiedzi
    </h4>

    <!-- Zawartość strony -->

    <div class="row">
        <div class="col-md-12">
            <!-- Informacja o ankiecie -->
            <h3>
                Nazwa ankiety
            </h3>
            <br />
        </div>
    </div>

    <form class="form-horizontal" id="surveyAnswerForm" role="form" method="POST" action="">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h4 class="text-center">Udziel odpowiedzi na następujące pytania:</h4>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <!-- Wyświetlenie formularza -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <button type="submit" class="btn btn-success" form="surveyAnswerForm">Prześlij odpowiedzi</button>
            </div>
        </div>
    </form>