
    <!-- Etykieta strony -->

    <h4>
        Panel użytkownika
    </h4>

    <!-- Zawartość strony -->

    <div class="row">
        <div class="col-sm-12">
            <p>
                <h2>
                    Witaj
                    <!-- Użytkownik -->
                    !
                    <br />
                </h2>
                <h4>
                    <small>
                        <em>
                            Wybierz jedną z powyższych opcji w MENU.
                        </em>
                    </small>
                </h4>
            </p>
        </div>
    </div>