{% load staticfiles %} {% load static %}

<!doctype html>
<html lang="pl-PL">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Prosty serwis do tworzenia ankiet oraz ich udostępniania.">
    <meta name="author" content="Cezary Kaszuba">

    <title>
        Proste Ankiety
    </title>

    <!-- Plik CSS - Bootstrap -->
    <link href="{% static 'css/dependencies/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Plik CSS - Aplikacja -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
  </head>

  <body>

    <header>

      <!-- MENU -->

      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Proste Ankiety</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">

            <!-- Niezalogowany użytkownik -->
            {% if not user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Zaloguj się</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'signup' %}">Utwórz konto</a>
            </li>
            {% else %}
            <!-- Zalogowany użytkownik -->
            <li class="nav-item">
              <a class="nav-link" href="{% url 'panel' %}">Panel</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'surveys' %}">Ankiety</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'notifications' %}">Powiadomienia</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'settings' %}">Ustawienia</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Wyloguj się</a>
            </li>
            {% endif %}

          </ul>
          <div class="mt-2 mt-md-0 site-title">

              <!-- Etykieta strony -->

              {% block site_title %}
              {% endblock %}

          </div>

        </div>
      </nav>
    </header>


    <main role="main" class="container">

      <!-- Zawartość strony -->

      <div class="row">
        <div class="col-sm-12 text-center messages">

            <!-- Powiadomienia -->

            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                    {% else %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

        </div>
      </div>


        <!-- Zawartość strony -->

        {% block content %}
        {% endblock %}

    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Proste Ankiety Django</span>
      </div>
    </footer>

    <!-- Plik JS - jQuery -->
    <script src="{% static 'js/dependencies/jquery-3.3.1.slim.min.js' %}"></script>

    <!-- Plik JS - Popper -->
    <script src="{% static 'js/dependencies/popper.min.js' %}"></script>

    <!-- Plik JS - Bootstrap -->
    <script src="{% static 'js/dependencies/bootstrap.min.js' %}"></script>

    <!-- Plik JS - Aplikacja -->
    <script src="{% static 'js/custom.js' %}"></script>
  </body>
</html>