<!doctype html>
<html lang="pl-PL">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Prosty serwis do tworzenia ankiet oraz ich udostępniania.">
    <meta name="author" content="Cezary Kaszuba">

    <title>
        Proste Ankiety
    </title>

    <!-- Plik CSS - Bootstrap -->
    <link href="" rel="stylesheet">

    <!-- Plik CSS - Aplikacja -->
    <link href="" rel="stylesheet">
  </head>

  <body>

    <header>

      <!-- MENU -->

      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Proste Ankiety</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">

            <!-- Niezalogowany użytkownik -->

            <li class="nav-item">
              <a class="nav-link" href="">Zaloguj się</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="">Utwórz konto</a>
            </li>

            <!-- Zalogowany użytkownik -->

            <li class="nav-item">
              <a class="nav-link" href="">Panel</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="">Ankiety</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="">Powiadomienia</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="">Ustawienia</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="">Wyloguj się</a>
            </li>

          </ul>
          <div class="mt-2 mt-md-0">

              <!-- Etykieta strony -->

          </div>

        </div>
      </nav>
    </header>


    <main role="main" class="container">

      <div class="row">
        <div class="col-sm-12 text-center messages">

            <!-- Powiadomienia -->

            <div class="alert alert-success">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              Operacja wykonana poprawnie
            </div>

            <div class="alert alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              Operacja wykonana niepoprawnie
            </div>

        </div>
      </div>

      <div class="row">

          <!-- Zawartość strony -->

      </div>

    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Proste Ankiety Django</span>
      </div>
    </footer>

    <!-- Plik JS - jQuery -->
    <script src=""></script>

    <!-- Plik JS - Popper -->
    <script src=""></script>

    <!-- Plik JS - Bootstrap -->
    <script src=""></script>

    <!-- Plik JS - Aplikacja -->
    <script src=""></script>
  </body>
</html>